body {
    margin: 0;
    padding: 0;
    background-color: #8C2041; 
    overflow-x: hidden;
    scrollbar-width: thin; 
    scrollbar-color: #A6DDE5 #8C2041; 
}

body.bloqueado {
    height: 100vh !important;
    overflow: hidden !important; 
}

.scroll-spacer {
    height: 400vh; 
    pointer-events: none; 
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: grab; 
}

canvas:active {
    cursor: grabbing;
}

#ui-layer {
    position: fixed;
    top: 8%; 
    width: 100%;
    z-index: 10; 
    text-align: center;
    pointer-events: none; 
}

#titulo-estado {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    letter-spacing: 0.15em; 
    margin: 0;
    color: #FEFBF2; 
    opacity: 0.2; 
    text-transform: uppercase;
}

/* =======================================================
   LA BARRA DE SCROLL LATERAL (TUBO DE NEÓN ESTABLE)
   ======================================================= */
::-webkit-scrollbar {
    width: 16px; 
}

::-webkit-scrollbar-track {
    background-color: #8C2041; 
}

::-webkit-scrollbar-thumb {
    /* Gradiente que simula luz de neón */
    background: linear-gradient(90deg, #A6DDE5 0%, #ffffff 50%, #A6DDE5 100%);
    border-radius: 10px; 
    border: 3px solid #8C2041; /* Margen seguro para que no desaparezca */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #F5BEBF 0%, #ffffff 50%, #F5BEBF 100%);
}